body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  display: flex;
  user-select: none;

}

html {
  height: -webkit-fill-available;
}

#root {
  flex: 1
}